<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>D88</string>
				<string>D98</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d88</string>
			<key>CFBundleTypeName</key>
			<string>D88 フロッピーディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.D88</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ROM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ROM</string>
			<key>CFBundleTypeName</key>
			<string>ROMファイル</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.ROM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HDM</string>
				<string>DUP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>beta</string>
			<key>CFBundleTypeName</key>
			<string>ベタフロッピーディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BETA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xdf</string>
			<key>CFBundleTypeName</key>
			<string>XDF ディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.XDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HDI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hdi</string>
			<key>CFBundleTypeName</key>
			<string>ANEX86 ハードディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.HDI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>THD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>thd</string>
			<key>CFBundleTypeName</key>
			<string>T98 ハードディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.THD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>NHD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nhd</string>
			<key>CFBundleTypeName</key>
			<string>T98-Next ハードディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.NHD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HDD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hdd.icns</string>
			<key>CFBundleTypeName</key>
			<string>Virtual98 ハードディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.HDD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CFG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>preference</string>
			<key>CFBundleTypeName</key>
			<string>Neko Project II 初期設定</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>FDI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fdi</string>
			<key>CFBundleTypeName</key>
			<string>FDI フロッピーディスクイメージ</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.FDI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>preference</string>
			<key>CFBundleTypeName</key>
			<string>Neko Project II ツールウィンドウ スキンファイル</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>A</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>plug-in</string>
			<key>CFBundleTypeName</key>
			<string>共有ライブラリ</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>SAV</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>preference</string>
			<key>CFBundleTypeName</key>
			<string>Neko Project II レジュームファイル</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>Neko Project 21x version 0.81 by NP2 developer team, 1999-2001,2003-2005</string>
	<key>CFBundleIconFile</key>
	<string>Neko Project IIx.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Neko Project 21x</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>version 0.81</string>
	<key>CFBundleSignature</key>
	<string>SMil</string>
	<key>CFBundleVersion</key>
	<string>0.81</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
</dict>
</plist>
