XCOMM $Id: config.tmpl,v 1.6 2004/06/17 14:36:33 monaka Exp $

XCOMM
XCOMM Sound
XCOMM

XCOMM support NetBSD native sound
XCOMM
#undef	USE_NETBSDAUDIO

XCOMM support OSS compat. sound
XCOMM
#undef	USE_OSSAUDIO

XCOMM support SDL sound
XCOMM
XCOMM SDL_CONFIG= sdl-config
#undef	USE_SDLAUDIO
#undef	USE_SDLMIXER

XCOMM support ESounD
XCOMM
XCOMM ESD_CONFIG= esd-config
#undef	USE_ESDAUDIO


XCOMM
XCOMM GUI Toolkit
XCOMM

XCOMM GTK+
XCOMM
XCOMM GTK_CONFIG= gtk-config		# for GTK+ 1.x
XCOMM GTK_CONFIG= pkg-config gtk+-2.0	# for GTK+ 2.x
#undef	USE_GTK2


XCOMM
XCOMM Misc.
XCOMM

XCOMM big-endian machine (Apple Macintosh, etc...)
XCOMM
#undef	BIGENDIAN

XCOMM IA-32 CPU core
XCOMM
#undef	CPUCORE_IA32
