/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/xnp2
/xnp2.1
/xnp2.1j
/xnp21
/xnp21.1
/xnp21.1j
