XCOMM
XCOMM Sound
XCOMM

XCOMM support NetBSD native sound
XCOMM
#undef	USE_NETBSDAUDIO

XCOMM support OSS compat. sound
XCOMM
#undef	USE_OSSAUDIO

XCOMM support SDL sound
XCOMM
XCOMM SDL_CONFIG= sdl-config
#undef	USE_SDLAUDIO
#undef	USE_SDLMIXER

XCOMM support ESounD
XCOMM
XCOMM ESD_CONFIG= esd-config
#undef	USE_ESDAUDIO


XCOMM
XCOMM for big-endian machine (Apple Macintosh, etc...)
XCOMM
XCOMM CFLAGS+= -DWORDS_BIGENDIAN


XCOMM
XCOMM debug
XCOMM
XCOMM CDEBUGFLAGS=
XCOMM CDEBUGFLAGS= -g
XCOMM CDEBUGFLAGS+= -O
XCOMM CDEBUGFLAGS+= -Os
XCOMM CDEBUGFLAGS+= -O2
XCOMM CDEBUGFLAGS+= -O3
XCOMM CDEBUGFLAGS+= -W -Wall -Wuninitialized
XCOMM CDEBUGFLAGS+= -Werror

XCOMM
XCOMM Opt.
XCOMM
XCOMM CDEBUGFLAGS= -Os
XCOMM CDEBUGFLAGS= -O2
XCOMM CDEBUGFLAGS= -O3
XCOMM CDEBUGFLAGS+= -funroll-loops
XCOMM CDEBUGFLAGS+= -fomit-frame-pointer

XCOMM
XCOMM x86 Opt.
XCOMM
XCOMM CDEBUGFLAGS+= -ffast-math
XCOMM CDEBUGFLAGS+= -mcpu=pentiumpro
