XCOMM $Id: config.tmpl,v 1.4 2004/05/22 16:37:29 monaka Exp $

XCOMM
XCOMM Sound
XCOMM

XCOMM support NetBSD native sound
XCOMM
#undef	USE_NETBSDAUDIO

XCOMM support OSS compat. sound
XCOMM
#undef	USE_OSSAUDIO

XCOMM support SDL sound
XCOMM
XCOMM SDL_CONFIG= sdl-config
#undef	USE_SDLAUDIO
#undef	USE_SDLMIXER

XCOMM support ESounD
XCOMM
XCOMM ESD_CONFIG= esd-config
#undef	USE_ESDAUDIO


XCOMM
XCOMM Misc.
XCOMM

XCOMM big-endian machine (Apple Macintosh, etc...)
XCOMM
#undef	BIGENDIAN

XCOMM IA-32
XCOMM
#define	CPUCORE_IA32


XCOMM
XCOMM debug
XCOMM
XCOMM CDEBUGFLAGS=
CDEBUGFLAGS= -g
XCOMM CDEBUGFLAGS+= -O0
CDEBUGFLAGS+= -O
XCOMM CDEBUGFLAGS+= -Os
XCOMM CDEBUGFLAGS+= -O2
XCOMM CDEBUGFLAGS+= -O3
CDEBUGFLAGS+= -W -Wall
CDEBUGFLAGS+= -Wpointer-arith
CDEBUGFLAGS+= -Wuninitialized
XCOMM CDEBUGFLAGS+= -Werror
XCOMM CDEBUGFLAGS+= -DTRACE
XCOMM CDEBUGFLAGS+= -DDEBUG
XCOMM CDEBUGFLAGS+= -DSUPPORT_VIEWER

XCOMM
XCOMM Opt.
XCOMM
XCOMM CDEBUGFLAGS= -Os
XCOMM CDEBUGFLAGS= -O2
XCOMM CDEBUGFLAGS= -O3
XCOMM CDEBUGFLAGS+= -funroll-loops
XCOMM CDEBUGFLAGS+= -fomit-frame-pointer
XCOMM CDEBUGFLAGS+= -fexpensive-optimizations

XCOMM
XCOMM x86 Opt.
XCOMM
CDEBUGFLAGS+= -ffast-math
CDEBUGFLAGS+= -mcpu=pentiumpro
XCOMM CDEBUGFLAGS+= -msse -mfpmath=sse

XCOMM
XCOMM IA-32 flags
XCOMM
XCOMM CDEBUGFLAGS+= -DSUPPORT_MEMDBG32
CDEBUGFLAGS+= -DIA32_USE_ASM_BSWAP
CDEBUGFLAGS+= -DIA32_USE_GCC_ATTR_REGPARM
CDEBUGFLAGS+= -DIA32_PAGING_EACHSIZE
XCOMM CDEBUGFLAGS+= -DIA32_SUPPORT_TLB
XCOMM CDEBUGFLAGS+= -DIA32_PROFILE_TLB
XCOMM CDEBUGFLAGS+= -DIA32_SUPPORT_PREFETCH_QUEUE
XCOMM CDEBUGFLAGS+= -DIA32_SUPPORT_DEBUG_REGISTER
XCOMM CDEBUGFLAGS+= -DIA32_INSTRUCTION_TRACE
XCOMM CDEBUGFLAGS+= -DIA32_CROSS_CHECK
CDEBUGFLAGS+= -DIA32_DONT_USE_SET_EFLAGS_FUNCTION
XCOMM CDEBUGFLAGS+= -DIA32_REBOOT_ON_PANIC
XCOMM CDEBUGFLAGS+= -DMORE_DEBUG
