XCOMM
XCOMM Sound
XCOMM

XCOMM support SDL sound
XCOMM
XCOMM SDL_CONFIG= sdl-config
#undef	USE_SDLAUDIO
#undef	USE_SDLMIXER


XCOMM
XCOMM Misc.
XCOMM

XCOMM big-endian machine (PowerPC based Macintosh, etc...)
XCOMM
#undef	BIGENDIAN

XCOMM IA-32 CPU core
XCOMM
#undef	CPUCORE_IA32

XCOMM XF86VidMode Extension (for full-screen mode)
XCOMM
#undef	USE_XF86VIDMODE
